.div {
  position: relative;
}
.property-1default,
.property-1hover,
.property-1selected,
.property-1variant4 {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.property-1hover,
.property-1selected,
.property-1variant4 {
  top: 100px;
  background-color: var(--color-gray);
}
.property-1selected,
.property-1variant4 {
  top: 180px;
  background-color: var(--color-black);
  border-left: 2px solid var(--color-white);
}
.property-1variant4 {
  top: 260px;
  background-color: var(--color-gray);
}
.drop-down-ranking-hoveron-cli {
  position: relative;
  border-radius: 5px;
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 100%;
  height: 340px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
